section {
  background-image: url(../images/StockSnap_FSOBBNPKKZ.jpg);
  background-size: cover;
  background-position: center;
}
/* body {
  background-color: black;
} */
h1 {
  font-size: 5rem;
  color: white;
}
h3 {
  font-size: 2rem;

  color: #ffffff;
}

h2{
    color: #56A7D2;
    font-size: 2.5rem;
}
p {
  font-size: 1.5rem;

  color: white;
}
